.frame {
    width: 100vw;
    background-color: #be0f34;
    height: 45px;
    padding-bottom: 10px;
    margin-bottom: 60px;

    .cicle-logo {
        clip-path: circle(26px);
        background-color: #be0f34;
        padding: 35px;  
    }
}